.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search {
  display: flex;
  text-align: center
}

.ingredient_submit {
  flex: 19%;
  text-align: left
}

.recipes_output {
  flex: 45%;
}

.almost_recipes_output {
  flex: 45%
}

ul {
    list-style-type: none;
    margin: 0 0 100px 0;
}

.photo {
  height: 200px;
  width: 300px;
}

li {
  list-style-type: none;
  margin: 0 0 40px 0;
}